.infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.divMedals {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.25rem;
}

.divMedals p {
  font-size: 1.125rem;
  font-weight: 600;
  color: #55606f;
}

.divMedals span {
  color: #393f48;
}

.rank,
.gold,
.silver,
.bronze,
.total {
  display: flex;
  align-items: center;
}

.divImg {
  max-width: 150px;
  border: 1px solid black;
}

@media (width <= 500px) {
  .divImg {
    max-width: 75px;
  }
}

@media (width <= 400px) {
  .divImg {
    display: none;
  }
}
