.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: 1rem;
  background-color: white;
  box-shadow: 1px 1px 2px 1px #d3d3d3;
  border-radius: 5px;
}

.barCountry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.barCountry p {
  font-size: 1.25rem;
  font-style: italic;
  font-weight: bold;
}

.barMedals {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.barMedals p {
  font-size: 1.25rem;
  font-weight: bold;
}

@media (width <= 600px) {
  .barCountry p,
  .barMedals p {
    font-size: 1rem;
  }
  .barCountry,
  .barMedals {
    gap: 0.5rem;
  }
}

@media (width <= 380px) {
  .barMedals p {
    display: none;
  }
  .gold,
  .silver,
  .bronze,
  .total {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }
  .gold {
    background-color: #fb1;
  }

  .silver {
    background-color: silver;
  }

  .bronze {
    background-color: #dcb386;
  }
  .total {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background: url('../../assets/medalAll.svg') no-repeat center center;
  }
}
