body {
  margin: 0;
  padding: 0;
  background-color: #f3f4f6;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  font-size: 1rem;
  color: #333;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  margin: 0 2rem;
}

.subTitle,
.title {
  line-height: 1;
  font-size: 3rem;
  margin: 1rem 0;
  position: relative;
  z-index: 1;
}

.subTitle {
  font-size: 2rem;
}

.subTitle::after,
.title::after {
  content: '';
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #fb1;
  position: absolute;
  bottom: 5px;
  left: -5px;
  border-radius: 0.2rem;
  z-index: -1;
}

.subTitle::after {
  width: 1rem;
  height: 1rem;
  bottom: 2px;
  left: -3px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spin 2s linear infinite;
}

/* Classes usadas nas paginas de Esportes e Eventos */
.cardsFlex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@media (width <= 460px) {
  .cardsFlex {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width <= 350px) {
  .cardsFlex {
    grid-template-columns: 1fr;
  }
}
